{% extends '::base.html.twig' %}

{% block body %}
    <h1>Board creation</h1>

    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.name) }}

        <div class="form-btn-group">
            {{ form_widget(form.submit) }}
            <a class="btn" href="{{ path('board') }}">Back to the list</a>
        </div>
    {{ form_end(form) }}
{% endblock %}
