{% extends '::base.html.twig' %}

{% block body %}
    <h1>Task creation</h1>

    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.date) }}
        {{ form_row(form.estimate) }}
        {{ form_row(form.consumed) }}
        {{ form_row(form.remaining) }}
        {{ form_row(form.member) }}

        <div class="form-btn-group">
            {{ form_widget(form.submit) }}
            <a class="btn" href="{{ path('task') }}">Back to the list</a>
        </div>
    {{ form_end(form) }}
{% endblock %}
